$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px; // ширина информационной ячейки  (A, B, C, D... etc)
$cell-width: 120px;
$row-height: 24px; // высота строк таблицы
$db-header-height: 64px;
$border-color: #c0c0c0;
$primary-color: #3c74ff;